ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 1
IndentWidth: 2
NamespaceIndentation: Inner
TabWidth: 2
BreakConstructorInitializers: BeforeComma